@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<h3>ADMIN AREA, (But like there's not a whole lot here at the moment cause this is all just reused stuff)'</h3>
    <a asp-area="Admin" asp-controller="Other" asp-action="Contacts"
       class="btn btn-primary">Contacts List</a>
